<div>
    <h2 id="page-heading">
        <span>Enrollments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enrollment" [routerLink]="['/enrollment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Enrollment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="enrollments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Plan Type</span></th>
            <th><span>Plant Name</span></th>
            <th><span>Premium Value</span></th>
            <th><span>From Date</span></th>
            <th><span>To Date</span></th>
            <th><span>Content</span></th>
            <th><span>Patient</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let enrollment of enrollments ;trackBy: trackId">
                <td><a [routerLink]="['/enrollment', enrollment.id, 'view' ]">{{enrollment.id}}</a></td>
                <td>{{enrollment.planType}}</td>
                <td>{{enrollment.plantName}}</td>
                <td>{{enrollment.premiumValue}}</td>
                <td>{{enrollment.fromDate | date:'medium'}}</td>
                <td>{{enrollment.toDate | date:'medium'}}</td>
                <td>{{enrollment.content}}</td>
                <td>
                    <div *ngIf="enrollment.patient">
                        <a [routerLink]="['../patient', enrollment.patient?.id, 'view' ]" >{{enrollment.patient?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/enrollment', enrollment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/enrollment', enrollment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'enrollment', { outlets: { popup: enrollment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
